* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: grifter; */
}

.navi-bar {
    position: sticky;
    top: 0;
    font-size: 1.1rem;
    background-color: #a52008 !important;
}


.dada {
    /* background-image: url(../images/IMG_3864\ \(2\).JPG)!important; */
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.55)), url(../images/IMG_3864\ \(2\).JPG) !important;

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.ttl {
    font-size: 4.3em;
    color: white;
    font-weight: 900;
    font-family: grifter;
}

.ttl span {
    color: #a52008;
}

.parap {
    font-size: 30px;
    color: white;
    font-weight: 400;
    font-style: italic;
}

.writi {
    font-size: 16px;
    color: white;
    font-weight: 200;
    font-family: montserrat;
}


.icons {
    width: 50px;
    height: 50px;
    color: white;
    padding: 15px 8px;
    background-color: #a52008;
    border-radius: 100%;

}