* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

.navi-bar {
    font-size: 1.1rem;
}


.hero_a {
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.55)), url(../images/IMG_3864\ \(2\).JPG) !important;

    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}

.head_title {
    font-size: 60px;
    font-family: montserrat;
    font-weight: 800;
    letter-spacing: 7px;

}

.wt{
    font-size: 20px;
    font-style: italic;
}

.icons {
    width: 40px;
}

.icnset {
    
}